* {
    padding: 0px;
    margin: 0px;
}

header{
    height: 60px;
    align-items: center;
    margin: auto;
}

body{
    background-color: black;
}

.logo{
    float: left;
    height: 60px;
    width: 14%;
}

.title{
    font-size: 54px;
    color: #ded7c9;
    padding-left: 30px;
    text-decoration: none;
}

.links{
    float: left;
    width: 695px;
}

/*Options menu (style)*/

ul, ol{
    list-style: none;
}

.nav li a:hover{
    background-color: rgba(65, 63, 63, 0.918);
}

.nav li a {
    background-color: black;
    padding:20px 15px;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    color: #ded7c9;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.nav > li {
    float: left;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 220px;
}

.nav li:hover > ul {
    display: block;
}

/*account style*/

.account{
    width: 100px;
    float: left;
}

.account a:hover{
    background-color: rgba(65, 63, 63, 0.918);
}

.nav2 li a:hover{
    background-color: rgba(65, 63, 63, 0.918);
}

.nav2 li a {
    background-color: black;
    padding:20px 15px;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    color: #ded7c9;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.nav2 > li {
    float: left;
}

.nav2 li ul {
    display:none;
    position: absolute;
    min-width: 220px;
}

.nav2 li:hover > ul {
    display: block;
}