* {
    padding: 0px;
    margin: 0px;
}

header{
    height: 60px;
    align-items: center;
    margin: auto;
}

body{
    background-color: black;
}

.logo{
    float: left;
    height: 60px;
    width: 14%;
}

.title{
    font-size: 54px;
    color: #ded7c9;
    padding-left: 30px;
    text-decoration: none;
}

.links{
    float: left;
    width: 560px;
}

/*Options menu (style)*/

ul, ol{
    list-style: none;
}

.nav li a:hover{
    background-color: rgba(65, 63, 63, 0.918);
}

.nav li a {
    background-color: black;
    padding:20px 15px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #ded7c9;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.nav > li {
    float: left;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 180px;
}

.nav li:hover > ul {
    display: block;
}

/*Account style*/

.account{
    width: 100px;
    float: right;
}

.account a:hover{
    background-color: rgba(65, 63, 63, 0.918);
}

.nav2 li a:hover{
    background-color: rgba(65, 63, 63, 0.918);
}

.nav2 li a {
    background-color: black;
    padding:20px 15px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #ded7c9;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.nav2 > li {
    float: left;
}

.nav2 li ul {
    display:none;
    position: absolute;
    min-width: 220px;
}

.nav2 li:hover > ul {
    display: block;
}

/*Style of the search engine and its icon.*/

.search{
    height: 60px;
    width: 350px;
    float: left;
}

section{
    min-height: 60px;
    display: flex;
    align-items: center;
    height: 60px;

}

form{
    margin: auto;
}

form > div {
    display: flex;
    background: #ffff;
    padding: 9px 10px 9px 10px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
}

form input {
    border: none;
    background: transparent;
    font-weight: bold;
    padding-left: 24px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 250px;
}

form input:focus {
    outline: none;
}