* {
    padding: 0px;
    margin: 0px;
}

header{
    height: 60px;
    align-items: center;
}

body{
    background-color: black;
}

.logo{
    float: left;
    height: 60px;
    width: 13%;
}

.title{
    font-size: 54px;
    color: #ded7c9;
    padding-left: 30px;
    text-decoration: none;
}

.links{
    margin-top: 15px;
    float: right;
    width: 70%;
}

.options, .account{
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    color: #ded7c9;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.options{
    margin-top: 2px;
    font-weight: bold;
    display: flex;
    float: left;
}

.account{
    padding-left: 40px;
    margin-top: 2px;
    font-weight: bold;
    float: right;
}

li{
    float: left;
}

nav a:hover{
    color: white;
}

