* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

h3{
    font-size: 30px;
    color: #ded7c9;
    padding-left: 25px;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}